<div class="pt-5">
  <h1>Dashboard</h1>
  <ul class="nav nav-pills pt-3">
    <li class="nav-item">
      <%= link_to "My Bookings", my_bookings_path, class: "nav-link #{my_bookings}" %>
    </li>
    <li class="nav-item">
      <%= link_to "My Boats", my_boats_path, class: "nav-link #{my_boats}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Bookings On My Boats", bookings_on_my_boats_path, class: "nav-link #{bookings_on_my_boats}" %>
    </li>
  </ul>
</div>
