.simple-calendar {
  .table {
    table-layout: fixed;
  }

  .today {
    background-color: #FAF3DD;
  }
  .day {
   height: 50px;
  }
}

.meeting {
  color: white;
  // padding: 8px 8px;
  border-radius: 4px;
  background: #5b605e;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}
