<div class="row">
  <div class="col-5 container mt-3 pt-4 mb-3 pb-3 bg-white">
    <%= simple_form_for([@boat, @review]) do |f| %>
      <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
      <%= f.input :comment, placeholder: "Enter comment" %>
      <div class="text-center">
        <%= f.submit class: "btn btn-primary text-white", style: "border-radius: 5px"%>
      </div>
    <% end %>
</div>
</div>
