<div class="container">
  <div class="d-flex justify-content-between pt-5">
    <h1>Browse boats</h1>
  </div>
  <hr>
  <div class="cards">
    <% @boats.each do |boat| %>
      <div class="card-product">
        <%= image_tag("boat.jpg") %>
        <div class="card-product-infos">
          <%= link_to boat.name, boat_path(boat.id)%>
          <p><%= boat.description %></p>
          <p><%= boat.price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
